.tabs {
    width: 500px;
    margin: 50px auto;
    border: solid 1px #333;
}

.tablink {
    background-color: #fab1a0;
    color: black;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tab-document {
    display: none;
}