.tabs {
    width: 500px;
    margin: 50px auto;
    border: solid 1px #666;
}

.tablink {
    background-color: #95a5a6;
    color: #111;
    font-weight: bold;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tab-content {
    background-color: #ecf0f1;
}

.tab-items {
    padding-top: 10px;
    margin-left: 15px;
}

.tab-items>a {
    text-decoration: none;
}

.tab-document {
    vertical-align: top;
    display: none;
    font-size: 20px;
}